<div class="row">
  <div class="" ng-repeat="item in items">
    <div class="col-md-3">
      <div class="wrapper">
        <a href="">
          <img ng-src="http://kolobashkin.ru/images/items/{{item.item}}{{item.matdef}}.jpg">
          <div class="item-description">
            <p>{{item.item}}</p>
          </div>
          <div class="item-action">
            <a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          </div>
          <div class="item-sizes">
            <p>
              <span ng-show="item.r">{{item.r}} x</span>
              <span ng-show="item.a">{{item.a}} x</span>
              <span ng-show="item.b">{{item.b}} x</span>
              <span ng-show="item.h">{{item.h}}</span> mm
            </p>
          </div>
          <div class="item-materials">
            <p>
              <span class="oak" title="Дуб" ng-show="item.oak">&nbsp;</span>
              <span class="beech" title="Бук" ng-show="item.beech">&nbsp;</span>
              <span class="birch" title="Береза" ng-show="item.birch">&nbsp;</span>
              <span class="pine" title="Сосна" ng-show="item.pine">&nbsp;</span>
            </p>
          </div>
          <div class="item-new" ng-show="{{item.promoru}}">
            <p>{{item.promoru}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
