<div class="row">
  <div ng-repeat="item in items | orderBy: '-item.promoru'">
    <div class="col-md-3">
      <div class="wrapper">
        <a href="/#/{{item.item}}">
          <img ng-src="http://kolobashkin.ru/images/items/{{item.item}}{{item.matdef}}.jpg">
          <div class="item-description">
            <p>{{item.item}}</p>
          </div>
          <div class="item-action">
            <a href="/#/{{item.item}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          </div>
          <div class="item-sizes">
            <p>
              <span ng-show="item.r">&Oslash;&#8202;{{item.r}} x</span>
              <span ng-show="item.a">{{item.a}} x</span>
              <span ng-show="item.b">{{item.b}} x</span>
              <span ng-show="item.h">{{item.h}}</span>&#8202;mm
            </p>
          </div>
          <div class="item-materials">
            <p>
              <img src="/images/oak-texture.png" class="texture" title="Дуб" ng-show="item.oak"></img>
              <img src="/images/beech-texture.png" class="texture" title="Бук" ng-show="item.beech"></img>
              <img src="/images/birch-texture.png" class="texture" title="Береза" ng-show="item.birch"></img>
              <img src="/images/pine-texture.png" class="texture" title="Сосна" ng-show="item.pine"></img>
            </p>
          </div>
          <div class="item-new" ng-show="item.promoru">
            <p>{{item.promoru}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
